#spinner {
	clip-path: circle(494px at 50%);
	transform: rotate(0deg);
}

/*
#overlay {
	clip-path:           circle(493px at 50%);
	position:            absolute;
	top:                 0;
	left:                0;
	animation-duration:  1500ms;
	animation-fill-mode: forwards;
	opacity:             0;
}
*/